{{ $params := .Page.Params }}

{{ if $params.bamboo }}
    {{ $res := resources.Get "js/pq_bamboo/main.js" | js.Build "js/lib-pqBamboo.js" | minify }}
    {{ $webworker := resources.Get "js/pq_bamboo/pqBamboo-webworker.js" | minify }}
    {{ $res.Publish }}
    {{ $webworker.Publish }}
    <script async defer src="{{ $res.RelPermalink }}"></script>
{{ end }}

{{ if $params.midi }}
    {{ $res := resources.Get "js/pq_midi/main.js" | js.Build "js/lib-pqMidi.js" | minify }}
    {{ $res.Publish }}
    <script async defer src="{{ $res.RelPermalink }}"></script>
{{ end }}

{{ if $params.daw }}
    {{ $res := resources.Get "js/pq_daw/main.js" | js.Build "js/lib-pqDaw.js" | minify }}
    {{ $res.Publish }}
    <script async defer src="{{ $res.RelPermalink }}"></script>
{{ end }}

{{ if $params.codemirror }}
    {{ $res := resources.Get "js/codemirror/editor.bundle.min.js" }}
    {{ $res.Publish }}
    <script async defer src="{{ $res.RelPermalink }}"></script>
{{ end }}

{{ if $params.paint }}
    {{ $res := resources.Get "js/pq_paint/main.js" | js.Build "js/lib-pqPaint.js" | minify }}
    {{ $res.Publish }}
    <script async defer src="{{ $res.RelPermalink }}"></script>
{{ end }}