{{ $layout_style := .layoutStyle }}
{{ $context := .context }}
{{ $class := or .class "" }}
{{ $pages := .pages }}
{{ if eq $layout_style "grid" }}
    {{ $pages = $pages | shuffle }}
{{ end }}
{{ $num_pages := len $pages }}

<div class="summary-container summary-{{ $layout_style }} {{ $class }}" data-count="{{ $num_pages }}">
    <nav class="sub-container">
        {{ range $pages }}
            {{ if eq $layout_style "grid" }}
                {{ partial "summary-grid.html" . }}
            {{ else if eq $layout_style "list" }}
                {{ partial "summary-list.html" . }}
            {{ end }}
        {{ end }}
    </nav>
</div>