<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	{{ partial "site-title.html" . }}

	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/favicon.png" />

	{{ $options := (dict "targetPath" "css/critical.css" "outputStyle" "compressed" "transpiler" "dartsass") }}
	{{ $style := resources.Get "sass/critical.scss" | css.Sass $options | minify }}
	<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">

	{{ if .Params.enableMathJax }}
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	{{ end }}
</head>