<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ block "head" . }}
	{{ partial "head.html" . }}
{{ end }}
<body class="theme-dark">
	<!-- {{ block "header" . }} {{ partialCached "header" . }} {{ end }} -->

	<button id="gotoBottomBtn" aria-label="Button to scroll to bottom of page">
		<img src="/tutorials/icon/go_to_bottom.svg" alt="Button to scroll to bottom" title="Button to scroll to bottom" class="no-click" />
	</button>

	<div id="overlay-image" style="display: none;">
		<img id="overlay-image-src" alt="Fullscreen image (when image inside article is clicked)">
		<div class="overlay-image-instruction">(click anywhere to close)</div>
	</div>

	{{ block "main" . }}{{ end }}
	
	{{ block "footer" . }}
		{{ partialCached "footer" . }}
	{{ end }}

	{{ block "lazyLoad" . }}
		{{ partialCached "lazy-load" . }}
	{{ end }}

	{{ block "uncachedLazyLoad" . }}
		{{ partial "lazy-load-uncached.html" . }}
	{{ end }}

</body>
</html>
