@use "sass:math";
@use "critical_modules/globals" as g;

.block-container {

	.left-block {
		border-right-width: 0.5rem;
		border-right-style: solid;
		padding: 0.5rem;
		position: relative;
		text-align: right;

		.metadata {
			$circle-size: 3.0em;
			position: relative;

			.course-circle {
				@include g.flex-center();
				border-radius: 50%;

				width: $circle-size;
				height: $circle-size;
				margin-top: g.$def-padding;
				margin-left: 1.0em;

				img {
					width: 0.66*$circle-size;
				}

				@include g.themed() {
					background-color: g.t("transparent-bg-light");
				}
			}
			
			.course-line {
				position: absolute;
				width: 100px;
				height: 5px;
				top: 1.5em;
				left: 4.0em;

				@include g.themed() {
					background-color: g.t("transparent-bg-light");
				}
			}

			.text {
				margin-top: 1.0rem;
			}

			a {
				@include g.metadata-arrow-link();
			}

			span {
				@include g.metadata-arrow();
			}
		}
	
		.toc {
			@include g.remove-standard-list-style();

			font-size: 0.75rem;
			line-height: 150%;

			.label {
				display: inline-block;
				margin-top: 1.5rem;
			}

			a {
				@include g.metadata-arrow-link();
			}
		}
	}
	
	.right-block {
		padding: g.$def-padding;
		position: relative;

		h1 {
			margin-top: 0;
			margin-left: 2.0rem; // making space for the between-block-hex

			@media all and (max-width: g.$breakpoint-big)
			{
				margin-left: 0;
			}
		}

		.side-note {
			span {
				@include g.metadata-arrow();
			}
		}

		.example, .remark, blockquote {

			.label {
				float: right;
				margin-left: 1.0rem;
				margin-bottom: 0.5rem;
				opacity: 0.5;
			}

			.label + p, p:first-child {
				display: inline;
			}

			p {
				margin-bottom: 0;
			}

			ul {
				margin: 0;
			}
		}

		.example-arrow, .remark-arrow, blockquote {
			position: relative;
			margin-top: 0.5*g.$def-padding;
		}

		.example {	
			@include g.themed() {
				color: g.t("example-color");
				background-color: g.t("example-bg-color");
			}
		}

		.example-arrow {
			.arrow-right {
				@include g.arrow-right("example-bg-color");
			}
		}

		blockquote {
			@include g.themed() {
				color: g.t("blockquote-color");
				background-color: g.t("blockquote-bg-color");
			}
		}

		blockquote {
			.arrow-right {
				@include g.arrow-right("blockquote-bg-color");
			}
		}

		.remark {

			@include g.themed() {
				color: g.t("remark-color");
				background-color: g.t("remark-bg-color");

				strong {
					color: g.t("remark-color");
				}
			}

			font-family: g.$script-font;
			font-size: 1.1rem;
		}

		.remark-arrow {
			.arrow-right {
				@include g.arrow-right("remark-bg-color");
			}
		}
	}
}

// To create drop caps only when needed, therefore a very specific rule
.article {
	#{ g.$drop-cap-selector } {
		@include g.drop-cap();
	}

	.right-block {
		margin-right: 0;

		p {
			@include g.hyphenate-fully();
		}

		@media all and (min-width:g.$breakpoint-huge) {
			margin-right: (g.$def-max-width - g.$def-max-text-width);
		}
	}
}

.block-separator {
	height: 1.0rem;

	.right-block {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.prerequisite, .category-backlink {
	@include g.themed() {
		color: g.t("prerequisite-link-color");
	}

	font-style: italic;

	a {
		text-decoration-color: currentcolor; 
	}
}

.support-container {
	display: flex;
	justify-content: space-evenly;
	gap: 1.0em;

	p {
		text-align: left !important;
	}

	.column {
		max-width: 350px;
	}
	
	.mobile-heading {
		display: none;

		font-family: g.$header-font;
		font-size: 2.0rem;
		margin: 0.25rem;
		margin-top: 1.5rem;
		font-weight: 900;
		text-align: center;
		line-height: 100%;
	}

	@media all and (max-width: g.$breakpoint-big)
	{
		.mobile-heading {
			display: block;
		}
	}

	@media all and (max-width: g.$breakpoint-medium)
	{
		flex-wrap: wrap;
	}
	
	a {
		@include g.themed() {
            color: g.t("support-link-color");
            background-color: g.t("support-link-bg-color");
        }

		font-family: g.$header-font;
	}

	@include g.remove-standard-list-style();
}

.side-note {
	position: absolute;
	left: -0.725 * g.$left-block-width;
	width: 0.65 * g.$left-block-width;
	line-height: 150%;
	font-family: g.$header-font;
	font-size: 0.75rem;
}

.coming-soon-message {
	text-align: center;
    font-family: 'Dosis';
    font-size: 4.0rem;
    margin: 3.0rem;
	line-height: 120%;
}

#mobile-metadata {
	@include g.remove-standard-list-style();

	ul {
		li {
			margin-right: 0.5em;
		}
	}
	

	@media all and (max-width:g.$breakpoint-big) 
	{
		display: block;
	}

	/* generalize this, but where else would I use this? */
	.link-with-icon {
		@include g.flex-center();
		gap: 0.5em;

		.icon {
			@include g.hexagon-color(1.5em, rgba(255,255,255,0.5));
			@include g.flex-center();
	
			img {
				width: 0.77em;
			}
		}

		a {
			display: inline-block;
			border-bottom-width: 2px;
			border-bottom-style: solid;
	
			transition: border-color g.$def-trans, color g.$def-trans;
		}
	}

	// to counteract padding, make it stretch the full width and compensate
	padding: 0.5em;
	margin-left: -1em;
	margin-right: -2em;
	padding-left: 1.5em;
} 

audio {
	width: 100%;
}