@use "critical_modules/globals" as g;

$counter-size: 2.0rem;
$line-thickness: 6px;

ol.overview {
	@include g.remove-standard-list-style-inside();

    li {
        border-radius: 40px;
        border-bottom: $line-thickness solid #000;
        border-top: $line-thickness solid #000;
        margin: 0;
        margin-top: -1.0 * $line-thickness;
        font-family: g.$header-font;
        display: block;
        position: relative;

        @include g.themed() {
            border-color: g.t("toc-line-color");
        }

        transition: background-color g.$def-trans;

        a {
            transition: font-size g.$def-trans;
            display: block;
            width: 100%;
            height: 100%;

            padding: 40px;
            padding-top: 24px;
            padding-bottom: 24px;
        }
        
        .counter {
            @include g.flex-center();

            border-radius: 50%;
            width: $counter-size;
            height: $counter-size;
            
            position: absolute;
            top: 1.0rem;
            font-size: 1.0rem;
            font-weight: bold;

            @include g.themed() {
                color: g.t("toc-text-color");
                background-color: g.t("toc-counter-bg-color");
                border: $line-thickness solid g.t("toc-line-color");
            }
        }

        &:nth-child(2n-1) {

            text-align: left;
            border-right: 50px solid transparent;

            @include g.themed() {
                border-left: $line-thickness solid g.t("toc-line-color");
            }

            .counter {
                left: -0.5*$counter-size;
            }
        }

        &:nth-child(2n) {
            text-align: right;
	        border-left: 50px solid transparent;

            @include g.themed() {
                border-right: $line-thickness solid g.t("toc-line-color");
            }

            .counter {
                right: -0.5*$counter-size;
            }
        }  
        
        &:hover {
            @include g.themed() {
                background-color: g.t("transparent-bg-light");
            }
            cursor: pointer;
            
            a {
                font-size: 1.5rem;
                font-weight: 900;
            }

            .counter {
                @include g.themed() {
                    color: g.t("toc-text-color-hover");
                }
            }
            
        }

        &:first-child {
            border-top-style: none;
            border-top-left-radius: 0px;
        }
        
        &:last-child {
            border-bottom-style: none;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}

