@use "critical_modules/globals" as g;

#gotoBottomBtn {
    position: fixed;
    z-index: 1000;
    right: 1.25rem;
    top: 0.4rem;
    cursor: pointer;
    transition: filter g.$def-trans;
    border: none;

    @include g.hexagon-themed(3.0em, "transparent-bg-medium");

    &:hover {
        filter: #{ "invert()" };
    }

    @media all and (max-width: g.$breakpoint-big)
    {
        right: 0.25rem;
        top: 0.25rem;
    }
}

footer {
    a, button {
        @include g.themed() {
            color: g.t("footer-link-color");
            background-color: g.t("footer-link-bg-color");
        }

        transition: color g.$def-trans, background-color g.$def-trans;

        &:hover {
            @include g.themed() {
                color: g.t("footer-link-color-hover");
                background-color: g.t("footer-link-bg-color-hover");
            }
        }
    } 
}

#footer-container {

    @include g.themed() {
		background-color: g.t("header-footer-bg-color");
        border-top: 4px solid g.t("header-footer-border-color");
	}

	width: 100%;
	display: block;
    padding-top: 2.0em;
	padding-bottom: 2.0em;

    .menu {
        margin-bottom: 2.0em;
        max-width: g.$def-center-block-width;
        margin: auto;
    }

    #footer, .menu {
        @include g.flex-center();
        flex-wrap: wrap;
        padding: 1.0em;

        @include g.remove-standard-list-style();
    }

    .credits {
        margin-top: 2.0em;

        font-family: g.$header-font;
        text-align: center;
        opacity: 0.8;

        a { 
            font-weight: bold;
        }
    }
}