@use "critical_modules/globals" as g;

@mixin icon($offset:0) {
    mask-position-x: $offset;
    -webkit-mask-position-x: $offset;
}

$mask-url: url(../theme/metadata-masks.webp);
$mask-size: (g.$num-masks * 100 + 0%) 100%;

$large-mask-url: url(../theme/summary-mask-large.png);
$large-mask-size: 100% 100%;

.masked {
    display: inline-block;
    font-size: 0.8em;
    text-decoration: none;
    
    padding: 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;

    mask-image: $mask-url;
    -webkit-mask-image: $mask-url;

    mask-size: $mask-size;
    -webkit-mask-size: $mask-size;

    transition: background-color g.$def-trans, color g.$def-trans, transform g.$def-trans;

    transform: rotate(var(--rotation));

    .container {
        @include g.flex-center();
        gap: 0.5em;

        .icon {
            width: 2.0em;
            height: 2.0em;
        }
    }

    &:hover {
        filter:  drop-shadow(0 0 30px black) hue-rotate(-120deg);
        transform: rotate(0deg) scale(1.1);
    }

    &.category-link, &.tag-link, &.big-mask {
        padding: 1.0rem;
    }

    
    @for $i from 1 through g.$num-masks {
        &.mask-#{$i} {
            @include icon($i * 100 + 0%);
        }
    }

}

// No BG color set by default, is overridden by specific user
.masked-block, blockquote {
    padding: 1.0em;

    filter: drop-shadow(0 0 10px #000);
    transition: background-color g.$def-trans, transform g.$def-trans;

    mask-image: $large-mask-url;
    -webkit-mask-image: $large-mask-url;

    mask-size: $large-mask-size;
    -webkit-mask-size: $large-mask-size;
}