@use "critical_modules/globals" as g;

$border: 3px solid gray;

/*** IN-POST TABLE STYLES ***/
table {
	width: 100%;
	border-spacing: 0px;
	font-family: g.$body-font;
	margin-bottom: 2.5rem;
	border-bottom: $border;
	box-shadow: 0 5px 5px #A9A9A9;
	clear: both;

    thead {
        tr {
            th {
                border-bottom: $border;
                font-weight: bold;
            }

            th:empty {
                display: none;
            }
        }  
    }
    
    tr {
        td, th {
            padding: 0.66rem;
            margin: 0px;
            line-height: g.$def-line-height;
            &:nth-child(n+2) {
                border-left: $border;
            }
        }
    }
}

.style-less-table {
	border: none;
	box-shadow: none;

    tr {
        td {
            background-color: transparent !important;
            border: none !important;
            vertical-align: top;
        }

        &:nth-child(2n) td {
            @include g.themed() {
                background-color: g.t("transparent-bg-medium");
            }
        }
        
    }
}