@use "../critical_modules/globals" as g;

* {
	box-sizing: border-box;
}

body, html {
	font-family: g.$body-font;
	font-size: g.$def-font-size;
	line-height: g.$def-line-height;
	
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	@include g.themed-same-level() {
		background: g.t("def-bg-image");
		color: g.t("def-font-color");
		background-color: g.t("def-bg-color");
	}
}

.center-block {
	margin: auto;
	max-width: g.$def-center-block-width;
}

.padding {
	padding: g.$def-padding;
}

.flex-center {
	@include g.flex-center();
}

.complete-fill {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

span.underline {
	text-decoration: underline;
}

::selection {
	@include g.themed() {
		color: g.t("select-color");
		background-color: g.t("select-bg-color");
	}
}

/* Minor tags */
abbr {
	font-size: 76%;
	letter-spacing: 0.75px;
}

dt {
	margin-top: 20px;
}

dd {
	margin-top: 8px;
}

strong, b {
	@include g.themed() {
		color: g.t("strong-color");
	}
}

em strong,
em b,
strong em,
b em {
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0px;
	@include g.themed() {
		color: g.t("strong-color");
	}
}