RewriteEngine on
RewriteBase /ProfessionalPandaExperiments/
# RewriteBase /

# Very exact: / at end is necessary, there can not be a # in the (slug) url
# ([^/.]+) parentheses say that whatever is inside should be remembered (for $1, $2, ... variables)
# 			what is inside can be anything but a period or slash
# /?$ checks if there's a possible / at the end and nothing else after that
# + tells engine to check for pattern at least once, while ? checks zero or one times (making it optional)
# [] means to match whatever is inside to the corresponding character once and only once.

# RewriteRule ^/(.*)/(.*)/$ /article.php?cat=$1&name=$2

RewriteRule ^search/([^/.]+)/?$ search.php?searchTerms=$1
RewriteRule ^search/([^/.]+)/([0-9]+)/?$ search.php?searchTerms=$1&page=$2
RewriteRule ^action/([^/.]+)/?$ action.php?type=$1
RewriteRule ^difficulty/([^/.]+)/?$ overview.php?cat=$1&name=diff
RewriteRule ^difficulty/([^/.]+)/([0-9]+)/?$ overview.php?cat=$1&name=diff&page=$2

RewriteRule ^([0-9+])/?$ index.php?page=$1

RewriteRule ^([^/.]+)/?$ overview.php?cat=$1
RewriteRule ^([^/.]+)/([0-9]+)/?$ overview.php?cat=$1&page=$2

RewriteRule ^([^/.]+)/overview/([^/.]+)/?$ overview.php?cat=$2&name=sub [B]
RewriteRule ^([^/.]+)/overview/([^/.]+)/([0-9]+)/?$ overview.php?cat=$2&name=sub&page=$3 [B]

RewriteRule ^([^/.]+)/([^/.]+)/?$ article.php?cat=$1&name=$2

ErrorDocument 404 http://pandaqi.com/404.php



